@model List<BDLab3.Models.Salarie>

@{
    ViewBag.Title = "Salaries";
}
<h2>Зарплата:</h2>
<p class="text-center h3">
    @Html.ActionLink("Добавить зарплату", "CreateSal")
</p>
<br />
<table class="table  table-bordered text-center >


    @foreach (var item in Model)
    {
        <tr class="">

            <td class="h4" >
                <b> @Html.DisplayFor(modelItem => item.Amount)</b>
            </td>
            <td >
                <b>
                    @Html.ActionLink("Изменить", "EditSal", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "DeleteSal", new { id = item.Id })
                </b>
            </td>
            </tr>
        }

</table>

<p class="h4">@Html.ActionLink("Вернуться", "Pozitions")</p>