@model List<BDLab3.Models.Employee>

<h2>Хочу знать:</h2>
<br />
<div class="h4">
    <p>@Html.ActionLink("О должностях", "Pozitions")</p>
    <br />
    <p>@Html.ActionLink("О отделах", "Departments")</p>
    <br />
    <p>@Html.ActionLink("О образовании", "Educations")</p>
    <br />
    <p>@Html.ActionLink("О специальностях", "Specialise")</p>
    <br />
    <p>@Html.ActionLink("О штрафах", "Penalties")</p>
</div>